// inclut seulement les définitions

// colors:
$bluegray-hbg: #02384f;
$bluegray-hfg: #fff;
$bluegray-mid: #b4c6ce;
// $light-blue: jkjdd

// sizes
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 3.2rem

// spacings
